body {
    background: url("https://i.imgur.com/DBlxCas.jpg?1");
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
    background-color: #4d4d4d;
}

.navbar a {
    color: white;
}

.jumbotron {
    background-color: #4d4d4d;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

.potionTable {
    border: 1px solid black;
    background-color: white;
    border: 1px solid black;
}

.potionTable p {
    position: absolute;
    font-size: 20px;
    color: white;
    transform: translateX(-50%);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.potionKey {
    position: relative;
    font-size: 30px !important;
    color: white;
    left: 50%;
    top: -10%;
    transform: translateX(50%);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.potionTable img {
    height: 40px;
    width: 40px;
}

#healthPotion, #manaPotion {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 20px;
    background-size: cover;
    position: relative;
}



.runeTable {
    border: 1px solid black;
    background-color: #202430;
    border: 1px solid black;
}

.runeTable tr td{
    border: 1px solid black;
}

.spells tr td{
    padding: 0.3em !important;
    margin: 0.3em !important;
}

td img {
    height: 108px;
    width: 108px;
}

#mainTree {
    margin-right: 0.3em;
}

#subTree {
    margin-left: 0.3em;
}

.potionTable p {

}

#manaPotion {
    background: url('../resources/misc/manapotion.jpg');
    background-size: contain;
}

#healthPotion {
    background: url('../resources/misc/healthpotion.jpg');
    background-size: contain;
}

.health-bar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    padding: 5px;
    background: #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    margin: auto;
}
.bar {
    background-color: #c54;
    width: 100%;
    height: 10px;
    position: relative;

    transition: width .5s linear;
}

.mana-bar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    padding: 5px;
    background: #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    margin: auto;
}
.mana-bar .bar {
    background-color: blue;
    width: 100%;
    height: 10px;
    position: relative;

    transition: width .5s linear;
}

.hit {
    background: rgba(255,255,255,0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0px;

    transition: width .5s linear;
}

div.spell {
    width: 130px;
    height: 130px;
    display: inline-block;
    border-radius: 20px;
    background-size: cover;
    position: relative;
}

/*
.rune {
    width: 100%;
    position: absolute;
    width: 65%;
}
*/

.rune ~ .cooldown-half {
    height: 62.5px;
}

.label {
    position:relative;
    text-align:right;
    top:50%;
    transform: translateY(-50%);
}

.Q {
    background: url('../resources/actives/Q.png') no-repeat ;
}

.W {
    background: url('../resources/actives/W.png') no-repeat ;
}

.E {
    background: url('../resources/actives/E.png') no-repeat ;
}

.R {
    background: url('../resources/actives/R.png') no-repeat ;
}

img {
    width: 100%;
    border-radius: 20px;
}

#phaser {
    width: 100%;
    margin: 0;
}

.shortKey {
    position: absolute;
    font-size: 40px;
    color: white;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.cooldown-half{
    width:50%;
    height:100%;
    overflow:hidden;
    position:relative;
    float:left;
}

.cooldown-half-rotator{
    width:200%;
    height:200%;
    top:-50%;
    position:absolute;
    background-color:rgba(1,1,1,0.7);
}

.cooldown-half-rotator-right{
    transform-origin:left center;
}

.cooldown-half-rotator-left{
    right:0;
    transform-origin:right center;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

.stunned {
    width: 100%;
    position: absolute;
    animation: rotation 4s infinite linear;
    opacity: .5;
    display: none;
    top:0;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

#copyright {
    color: white;
    top:0;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

@media (max-width: 900px) {
    div.health-bar {
        width: 100%;
    }
}

.hop-outer {
    transition: .2s all ease-out;
    -webkit-transition: .2s all ease-out;
    -mz-transition: .2s all ease-out;
    -ms-transition: .2s all ease-out;
    -o-transition: .2s all ease-out;
}

.hop-content {
    color: #fff;
    font-size: 22px;
    width: 300px;
    top: 100%;
    left: 100%;
    position: absolute;
}

.hop-content h2 {
    margin: 5px 0;
}

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
.btn + .btn {
    margin-left: 1rem; }

.btn:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 64em) {
    .btn {
        padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
    .btn {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem; }
    .btn + .btn {
        margin-top: 1rem;
        margin-left: 0; } }

#baronImage {
    width: 269px;
    height: 300px;
    margin: auto;
}

#playerImage {
    width: 179px;
    height: 200px;
    margin:auto;
}