.health-bar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    padding: 5px;
    background: #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    margin: auto;
}
.bar {
    background-color: #c54;
    width: 100%;
    height: 10px;
    position: relative;

    transition: width .5s linear;
}

.mana-bar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    padding: 5px;
    background: #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    margin: auto;
}
.mana-bar .bar {
    background-color: blue;
    width: 100%;
    height: 10px;
    position: relative;

    transition: width .5s linear;
}

.hit {
    background: rgba(255,255,255,0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0px;

    transition: width .5s linear;
}

div.spell {

    width: 130px;
    height: 130px;
    display: inline-block;
    border-radius: 20px;
    background-size: cover;
    position: relative;
}

.rune {
    width: 100%;

}

.label {
    position:relative;
    text-align:right;
    top:50%;
    transform: translateY(-50%);
}

.Q {
    background: url('../resources/actives/Q.png') no-repeat ;
}

.W {
    background: url('../resources/actives/W.png') no-repeat ;
}

.E {
    background: url('../resources/actives/E.png') no-repeat ;
}

.R {
    background: url('../resources/actives/R.png') no-repeat ;
}

img {
    width: 100%;
    border-radius: 20px;
}

#phaser {
    width: 500px;
    margin: 0;
}

.shortKey {
    position: absolute;
    font-size: 40px;
    color: white;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}

.cooldown-half{
    width:50%;
    height:100%;
    overflow:hidden;
    position:relative;
    float:left;
}

.cooldown-half-rotator{
    width:200%;
    height:200%;
    top:-50%;
    position:absolute;
    background-color:rgba(1,1,1,0.7);
}

.cooldown-half-rotator-right{
    transform-origin:left center;
}

.cooldown-half-rotator-left{
    right:0;
    transform-origin:right center;
}